<div class="dashboard-container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-4 h-full">
  <app-header class="col-span-1 md:col-span-2 lg:col-span-4 xl:col-span-4"></app-header>

  <div class="col-span-1 md:col-span-2 lg:col-span-4 mt-4 mb-10">
    <app-indicadores></app-indicadores>
  </div>

  <div class="col-span-1 md:col-span-2 lg:col-span-2 xl:col-span-2">
    <app-grafico-barra></app-grafico-barra>
  </div>

  <div class="col-span-1 md:col-span-2 lg:col-span-2 xl:col-span-2">
    <app-grafico-pizza></app-grafico-pizza>
  </div>

  <app-footer class="col-span-1 md:col-span-2 lg:col-span-4 xl:col-span-4"></app-footer>
</div>
